.signup-form {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
  }

  .text-field {
    width: 350px;
  }

  .error-message {
    font-size: small;
    color: red;
    margin: 0;
    padding: 0;
  }